<div class="jumbotron">
    <h2> List of FizzBuzz Numbers</h2>
    <%= Enum.map(entries(%{numbers: @numbers, current_page: @current_page, page_size: @page_size}), fn(n) -> %>
        <li>
        <b> Number: </b> <%= n[:number] %>
        <b> FizzBuzz: </b> <%= n[:fizz_buzz_value] %>
        </li>
    <%= end) %>
</div>
